<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Detail</title>
</head>
<body>
{% include 'header.html' %}
<center>
    <div class="card" style="width: 18rem;">
        <img src="{{object.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">{{object.genre}}</p>
            <p class="card-text">{{object.cost}}</p>
            <p class="card-text">{{object.model_phone}}</p>
            <p class="card-text">{{object.created_date}}</p>
            <a href="/" class="btn btn-primary">На главную</a>

            <form action="/add-comment/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Оставить отзыв</button>
            </form>

            <div class="comments">
                {% for i in object_list %}
                <div class="comment_block">
                    <h5>{{ i.stars }}</h5>
                    <h6>{{ i.comment }}</h6>
                    <p>{{ i.created_date }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <iframe src="{{object.video}}" frameborder="0" width="400" height="250">
    </iframe>
</center>
{% include 'footer.html' %}
</body>
</html>